body{
    background-color: rgb(39, 2, 96);
}

.turn{
    grid-area:turn;
}
.square-con{

    grid-area: square;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}
.square{
    width: 7rem;
    height: 5rem;
    background-color: azure;
    text-align: inherit;
    /* /* padding: 0rem; */
}



.grid{
    display: grid;
    grid:
        'turn turn menu'
        'square square square'
        'square square square'
        'square square square'
        
    ;
    grid-gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}
.grid > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }
.main-container{
    padding: 2rem;
    width: 27rem;
    border: 2px solid;
    height: 28rem;
    margin: 5rem auto;
}
.cross{
    background: url("/images/cross.png") no-repeat center;
    background-size: 5rem;
}
.zero{
    background: url("/images/zero.png") no-repeat center;
    background-size: 5rem;

}

#reset{
    height: 2rem;
    background: #74c0fb;
    /* border: none; */
    border-radius: 11px;
    cursor: pointer;
}